.bg-purple{
    width: 100%;
    height: 100%;
    background: rgb(62,1,131);
    background: linear-gradient(150deg, rgba(62,1,131,1) 0%, rgba(100,18,121,1) 56%, rgba(120,26,138,1) 100%);

}

.size-1{

    font-size: 700%;
    margin-left: 17%;

    font-weight: 500;

}

.size-2{
    margin: 0pc;
    padding: 0pc;
    font-size: 400%;
    width: 200%;

}

.bg-purple-btn{

    background: rgb(68, 15, 129);
    border:none;
    padding: 1pc 3pc;
    border-radius: 1pc;
    
}


.fs-1{
    margin-bottom: 100%;
    font-weight: 600;
    font-size: 300% !important;
    margin-left: -10%;
}



/*
 *media querys 
*/

@media screen and (max-width: 400px) {
    .size-1{
        margin-top: 10pc;
        font-size: 4pc;
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .size-2{
        font-size: 2pc;
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }
    .bg-purple-btn{
        padding: 0.5pc 1.5pc;
        margin-left: auto;
        margin-right: auto;
    }
    .fs-1{
    /* font-size: 140%; */
    margin-left: 0pc;
    margin-bottom: 1pc;

    }
  }

@media screen and (width: 390px) {
    .size-1{
        margin-top: 14pc;
    }
    .size-2{
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }
  }

@media screen and (width: 393px) {
    .size-1{
        margin-top: 16pc;
    }
  }